body{
    background-color: rgba(233, 213, 213, 0.185);
    font-family: "Poppins", sans-serif;
}

header{
    margin-top: 40px;
    margin-bottom: 40px;
}

.p1{
    font-size: 40px;
    color: #A3A5AE;
}

.p2{
    font-size: 45px;
    color:  #4C4E61;
}

.p3{
    font-size: 20px;
    color: #6d686844;
}

.sup{
    grid-area: sup;
    align-self: center;
    justify-self: left;
    position: relative;
    top: 100px;
    left: 10px;
    border-top: 5px solid#45D3D3;
}

.box1{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: -20px;
    border-radius: 25px;  

    display: inline-block;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: -270px;
    border-radius: 25px; 

    display: inline-block;
}

